.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 1rem 2rem;
  height: 70px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #74c043;
  height: 70px;
  width: 100px;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #74c043;
}

.logoutBtn {
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.logoutBtn:hover {
  color: #f66;
}
